{% extends "base.html" %}
{% block title %}Welcome - Barter System{% endblock %}
{% block content %}

<div class="landing">
  <h1>Welcome to Barter System 🚀</h1>
  <p>Choose an option below to get started</p>

  <div class="landing-buttons">
    <a href="{{ url_for('signup_login_view') }}" class="btn">Sign Up / Login</a>
    <a href="{{ url_for('admin_login_view') }}" class="btn admin">Admin</a>
    <a href = "{{ url_for('view_products_view') }}" class="btn view">View</a>
  </div>
</div>

{% endblock %}
